----

Link of the dataset: https://drive.google.com/drive/folders/1aWknbDU42nxixYnX0EA0z6ocINk3Wqgp?usp=drive_link

Kaggle: https://www.kaggle.com/datasets/jaberjaber/updatedxray/data

@Mohammed Zaloom
----